#body {
    margin: 0;
    width: 100%;
    height: auto;
}

body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#app .wit-picture {
    width: 150px;
    height: 100px;
}

.app-navbar {
    width: 100%;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + main {
    padding-top: 102px;
}

.app-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.app-navbar li {
    float: left;
}

.app-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    /*font-family: "system-ui, -apple-system ", sans-serif;*/
    /*font-family: "Avenir Next bold", sans-serif;*/
}

.app-navbar li a:hover:not(.active) {
    background-color: #111;
}

main {
    margin-top: 15px;
    overflow: scroll;
}
span {
    text-transform: capitalize;
}