.formations {
    margin-top: 3%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.formations h1 {
    font-size: 3vw;
}

.formations-pending {
    color: 	#FF7F50;
}

.liste-formations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ligne-formation {
    margin: 10px 20px 20px 20px;
}

.ligne-formation span{
    font-size: 2vw;
    color: 	#FF8C00;
}

.image {
    /*width: 50vw;*/
    width: 250px;
    height: 250px;
}

.formations a {
    text-decoration: none;
}